body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/test-background-Pattern-01.png);
    background-repeat: no-repeat;

}

input{
    cursor: pointer;
    margin: 5px;
}


button{
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

#next{
    width: 100px;
}

button:hover,
button:active{
    transform: scale(1.1);
    color: red;
}

